.social-side-bar-box {
    display: block;
    /* background-color: #F5F5F5; */
    padding: 1em;
}

.social-side-bar-item {
    display: block;
    margin: 1em 0;
    display: inline-block;
}

.social-divider {
    height: .5em;
    background-color: #EEEEEE;
}

.menu-item-wrapper {
    padding: .5em;
    border-bottom: .1em solid #eee;
    line-height: 16px;
}

.menu-item-wrapper:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.menu-item {
    font-size: 1em;
    font-weight: 500;
}

.menu-sub-item {
    font-size: .7em;
}

.right-menu {
    /* float: left;
    position: relative;
    top: .7em;
    left: .2em; */
}


.about-first-header {
    color: #FAFAFA;
    font-weight: 100;
    font-size: 2em;
    background: rgba(0,150,136, .9);
    padding: .3em;
    text-align: center;
}

.about-second-header {
    color: #FAFAFA;
    font-weight: 100;
    font-size: 2em;
    padding: .3em;
    margin: 1em;
    text-align: center;
}

.about-third-header {
    color: #FAFAFA;
    font-weight: 100;
    font-size: 2em;
    background: rgba(0,150,136, .9);
    padding: .3em;
    text-align: center;
}

.close-dialog-btn {
    position: fixed;
    left: -25vh;
    background: #FF1744;
    color: #fff;
    padding: .5em 1em;
    border: .02em solid #fff;
    transition: all ease .3s;
    box-sizing: border-box;
    opacity: 1;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.close-dialog-btn:hover {
    opacity: .8;
    border: .02em solid #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.menu-item-svg {
}
.menu-item-svg svg {
    width: 27px;
    height: 27px;
    fill: #01579B;
}

.nav-rating-wrapper {
    border-radius: 2px;
    background-color: #01579B;
    padding: 1em 0 2em 0;
}

.nav-rating-wrapper-disabled {
    border-radius: 2px;
    background-color: #01579B;
    padding: 1em 0 2em 0;
    opacity: .6;
}

.nav-rating {
    text-align: left;
    padding-left: 30px;
}

.rating-text {
    color: #fafafa;
    font-size: 1.2em;
    font-weight: 700;
    /* padding: .1em .5em; */
}

.rating-text-number {
    font-size: 1.2em;
    font-weight: 700;
    color: #fafafa;
}

.nav-rating-center {
    display: inline-block;
}
.nav-rating-left {
    display: inline-block;
}
.nav-rating-right {
    display: inline-block;    
}

.rating-icon {
    display: inline-block;
    position: relative;
    top: 5px;
    width: 23px;
    left: 5px;
}

.rating-icon svg {
    fill: #fafafa;
}

.voice-help {
    left: 30px;
    position: absolute;
    font-size: .7em;
    color: #eee;
    text-align: center;
    border-bottom: .05em dotted #fff;
    opacity: .6;
    transition: .6s ease all;
}

.voice-help:hover {
    cursor: pointer;
    opacity: 1;
}

.menu-item-main {
    background-color: #01579B;
    color: #fafafa;
    font-weight: 700;
    padding: .3em;
    margin-top: 1em;
}