.nav {
    border-bottom: .01em solid #607D8B;
    padding: .5em 1em;
    background-color: #fff;
    /* display: flex; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    /* width: 25%; */
}   

.sub-logo-text {
    color: #607D8B;
    font-size: 14px;
    position: relative;
    top: .2em;
}