.left-side-bar-menu {
    position: fixed;
    background-color: #F5F5F5;
    height: 100vh;
    border-right: .1em solid #eee;
}

.sidebar-wrapper {
    position: fixed;
    padding: .5em;
    max-height: 88vh;
    overflow: scroll;
    /* background: #fafafa; */
    overflow-x: hidden;
    text-align: center;
    border-left: 1em solid #01579b;
}

.mobile-menu {
    height: 110px;
    background-color: red;
    position: fixed;
    width: 105vh;
    z-index: 10;
    display: flex;
    bottom: 0;
    left: -2px;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
}