.left-side-bar-menu {
    position: fixed;
    background-color: #F5F5F5;
    height: 100vh;
    border-right: .1em solid #eee;
}

.sidebar-wrapper {
    position: fixed;
    padding: .5em;
    max-height: 80vh;
    overflow: scroll;
    background: #eee;
    overflow-x: hidden;
    text-align: center;
}