
<div class="side-bar-title">
    Explore more from the best
</div><!--target="_blank"-->
<div *ngFor="let item of items | async; let i = index">
    <div class="sidebar-container small-hover-shadow" *ngIf="helperService.isthisItemNotEqualThisPage(item.titleLink)">
        <a [href]="item.link" >
            <div class="side-bar-item">
                {{item.titleLink}}
            </div>
            <div class="sidebar-item-image">
                <img class="side-bar-image" [src]="item.image"> 
            </div>
        </a>
    </div>
</div>