.side-bar-item {
    margin: .4em .1em;
    color: #607D8B;
    font-size: 21px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 0;
    height: 4rem;
}

.side-bar-title {
    color: #607D8B;
    font-size: 20px;
    font-weight: 700;
    margin: .1em; 
    display: inline-block;
    text-align: left;    
}

a {
    text-decoration: none;
}

.sidebar-item-image {
    opacity: .8;
    margin: auto;
    width: 150px;
    height: 100px;
}

.sidebar-container {
    background: #fff;
    border: 1px dashed #CFD8DC;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: .4em 0;
    padding: .25em;
}

.sidebar-container:hover {
    background-color: #F5F5F5;
    opacity: 1;
    cursor: pointer;
}
.side-bar-image {
    max-width: 100%;
    max-height: 100%;
}