<div class="side-bar-title">
    Explore more from the best
</div>
<!--target="_blank"-->
<div class="col-12">
    <div class="row items-container">
        <div class="home-container small-hover-shadow" *ngFor="let item of items | async; let i = index">
            <a [href]="item.link">
                <div class="home-item-title">
                    {{item.titleLink}}
                </div>
                <div class="home-item-image">
                    <img class="home-image" [src]="item.image">
                </div>
            </a>
        </div>
    </div>
</div>